[submodule "pretraining/bert/models"]
	path = pretraining/bert/models
	url = https://github.com/t-yamamura/models.git
[submodule "pretraining/bert/DeepLearningExamples"]
	path = pretraining/bert/DeepLearningExamples
	url = https://github.com/NVIDIA/DeepLearningExamples.git
